html, body {
  min-width: 300px;
  min-height: 480px;
}

body {
	font-family: 'Noticia Text', serif;
}

h1 {
	font-size: 3.5em;
	margin: 0; 
}

h2 {
	font-size: 2em;
	margin: 0;
}

span, b, strong, label {
	color: #333;
}

.header, .footer {
	text-align: center;
	margin: 20px 0;
}

main {
	margin: 0 auto;
  max-width: 1000px;
}