<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
	<head>
		<title><%= site.subtitle %> - <%= site.title %></title>
		<% include _metatags %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<link href='http://fonts.googleapis.com/css?family=Noticia+Text' rel='stylesheet'>
		<link href="/application.css" rel="stylesheet">
	</head>
	<body>
		<header class="header">
			<img src="<%= site.logo_image %>" alt="Node Web Modules" width="372" height="150">
			<h2>A collection of web frameworks for Node.js</h2>
		</header>
		<nav class="social-box">
			<h4>
				Do you wanna add your Node web module? <a href="https://github.com/caio-ribeiro-pereira/node-web-modules/blob/master/README.md" target="_blank">Please read this before sending it</a>.
			</h4>
			<% include _socials %>
			<h4>Most watched modules</h4>
		</nav>
		<main class="js-web-module">
			<% include _modules %>
		</main>
		<footer class="footer">
			<p>
				Copyright (c) by <a href="http://crpwebdev.com" target="_blank">Caio R. Pereira</a> 2013-<%= new Date().getFullYear() %>. 
				<br>
				Powered by <a href="http://nodejs.org" target="_blank">Node.js</a> with <a href="http://expressjs.com" target="_blank">Express</a>, <a href="http://redis.io" target="_blank">Redis</a> and <a href="http://developer.github.com/v3" target="_blank">Github API</a> and licensed under <a href="http://caio-ribeiro-pereira.mit-license.org" target="_blank">MIT License</a>.
				<br>
				Do you wanna read <a href="http://www.casadocodigo.com.br/products/livro-nodejs" target="_blank">my Node.js book?</a>.
				<br>
				<a href="http://nodejs.org" target="_blank">Node.js</a> is an official trademark of <a href="http://joyent.com" target="_blank">Joyent</a>. 
				<br>
				This site is not formally related to or endorsed by the official Joyent commercial project.
			</p>
		</footer>
		<% include _analytics %>
		<script src="application.js"></script>
	</body>
</html>