.box__header {
	height: auto;
	border-bottom: 1px solid #DDD;
	padding: 2.5px;
}
.box__header:hover,
.box__header:focus {
	background: #DDD;
	cursor: pointer;
}

.box__header h1 {
	font-size: 1.75em;
	text-align: left;
	margin-left: 20px;
}