article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
html,body{min-width:300px;min-height:480px}
body{font-family:'Noticia Text',serif}
h1{font-size:3.5em;margin:0}
h2{font-size:2em;margin:0}
span,b,strong,label{color:#333}
.header,.footer{text-align:center;margin:20px 0}
main{margin:0 auto;max-width:1000px}
.box{background-color:#eee;border:1px solid #ddd;margin:10px auto;width:700px;height:auto;display:block}
.box__header{height:auto;border-bottom:1px solid #ddd;padding:2.5px}
.box__header:hover,.box__header:focus{background:#ddd;cursor:pointer}
.box__header h1{font-size:1.75em;text-align:left;margin-left:20px}
.box__main{padding:5px;display:none}
.box__content{padding:20px}
.box__figure{width:100%;height:160px}
.box__image{float:left;width:220px;border:2px solid #ddd;margin:0 20px 0 -2px;-webkit-box-shadow:3px 3px 5px #333;box-shadow:3px 3px 5px #333}
.box__detail{float:left;word-wrap:break-word;width:380px}
.box__detail span{display:block}
.box__aside{text-align:right}
.social-box{text-align:center;margin:0 auto;display:block}
.social-button{display:inline-block;margin:0 10px;width:80px}
.button{font-size:1.2em;background:#fff;color:#333;text-align:center;padding:5px;margin:5px;border:1px solid #999;display:inline-block;text-decoration:none}
.button:hover{background:#eff}
