.box {
	background-color: #EEE;
	border: 1px solid #DDD;
	margin: 10px auto;
	width: 700px;
	height: auto;
	display: block;
}
.box__header {
	height: auto;
	border-bottom: 1px solid #DDD;
	padding: 2.5px;
}

.box__header:hover,
.box__header:focus {
	background: #DDD;
	cursor: pointer;
}

.box__header h1 {
	font-size: 1.75em;
	text-align: left;
	margin-left: 20px;
}

.box__main {
	padding: 5px;
	display: none;
}

.box__content {
	padding: 20px;
}

.box__figure {
	width: 100%;
	height: 160px;
}

.box__image {
	float: left;
	width: 220px;
	border: 2px solid #DDD;
	margin: 0 20px 0 -2px;
	box-shadow: 3px 3px 5px #333;
}

.box__detail {
	float: left;
	word-wrap: break-word;
	width: 380px;
}

.box__detail span {
	display: block;
}

.box__aside {
	text-align: right;
}